/* *{
    border: 1px solid red;
} */

@font-face {
    font-family: Arcade;
    src: url(assets/typography/ARCADECLASSIC.TTF);
}

#score{
    /* position: absolute;
    top: 0;
    left: 0; */
    font-size: 30px;
    font-family: Arcade;
}


body{
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 2am;
    text-align: center;
}
canvas{
    border: solid .2em #fff;
    height: 90vh;
}
button{
    margin: 0 auto;
}

#startGame, #pauseGame, #resumeGame, #left, #right, #down, #rotate {
    background-color: black;
    font-size: 18pt;
    font-family: 'Arcade';
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}


#resumeGame:active, #pauseGame:active, #startGame:active, #left:active, #down:active, #right:active, #rotate:active{
	box-shadow: none;
	position: relative;
    top: .2em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}



@media (max-width: 768px) {
    .mobile-controls{
        display: flex !important;
    }
    canvas{
        height: 60vh;
        width: 80vw
    }
}